html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #ecf2f6;
}

header {
    width: 100%;
    height: 100vh;
}

.nav-social {
    width: 100%;
    height: 100%;
}

nav {
    height: 100%;
    width: 100%;
}

ul {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
    padding: 20px;
}

li a i{
    font-size: 17px;
}

li a {
    color: black;
    background: #fcfcfc;
    padding: 18px;
    border-radius: 50%;
    box-shadow: 0 10px 50px -10px black;

}

/* Facebook */

.facebook a{
    padding: 17px 19px!important;
}

.facebook:hover a {
    background: #415b99;
    color: white;
}

.facebook.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: #415b99;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 67%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .facebook.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #415b99 transparent transparent transparent;
  }

/* Twitter */

.twitter:hover a {
    background: #45c0f3;
    color: white;
}

.twitter.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: #45c0f3;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 65%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .twitter.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #45c0f3 transparent transparent transparent;
  }


/* Instagram */

.instagram:hover a {
    background: #dc1d5e;
    color: white;
}

.instagram.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: #dc1d5e;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 65%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .instagram.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #dc1d5e transparent transparent transparent;
  }

/* Github */

.github:hover a {
    background: #323333;
    color: white;
}

.github.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: #323333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 65%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .github.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #323333 transparent transparent transparent;
  }

/* Youtube */

.youtube:hover a {
    background: #db4439;
    color: white;
}

.youtube.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: #db4439;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 63%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .youtube.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #db4439 transparent transparent transparent;
  }


.tooltip {
    position: relative;
    display: inline-block;
  }
  
  
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }